streamlit
passlib
bcrypt
python-dotenv
sqlalchemy
pandas
requests
pyyaml
pytest
openai
anthropic
google-genai
tqdm
altair
numpy==1.26.4
matplotlib
plotly
scikit-learn
seaborn
reportlab
pingouin
scipy
girth
pdfplumber
pypdf
python-docx
apscheduler
torch==2.2.2+cpu
torchvision==0.17.2+cpu
transformers==4.38.2
sentence-transformers==2.6.1